# --- PostgreSQL Initial Database Secrets ---
DB_USER={username for db}
DB_PASSWORD={password for db}
DB_NAME={name for db}

# --- JWT Secrets for Token Generation ---
JWT_SECRET_KEY={key for token generation}
JWT_ALGORITHM={algorithm for JWT, HS256 recommended}
JWT_TOKEN_EXPIRE_MINUTES={minutes before token expires}

# --- Temporary URL for prod & dev ---
VITE_API_URL=http://127.0.0.1:8000
